body {
    margin: 0;
    padding: 0;
}

.tamanhoTopo {
    height: 100%;
}

.fundoPreto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* aqui é o "filtro" preto */
    z-index: 1;
}

.fundoPretoHeader {
    position: absolute;
    top: 0;
    z-index: 2;
    height: inherit;
}

.fundoTopo {
    background-image: url(../imagem/topoFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}



header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* alinha verticalmente */
    align-items: center;
    /* alinha horizontalmente */
    color: white;
}

.logo img {
    width: 95px;
    height: 32px;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 90vw;
}

.topOpcao {
    display: flex;
}

.topOpcao select {
    margin: 0 20px;
    padding: 10px;
    width: 140px;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: 800;
}

.topOpcao button {
    padding: 10px;
    width: 80px;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.topConteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topConteudoTamanho {

    height: calc(100vh - 80px);
    /* 80px é uma estimativa da altura do topo */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 40vw;
}

.topConteudoTamanho h1 {
    font-weight: 800;
    font-size: 33px;
    text-align: center;
    margin-bottom: 8px;
}

.topConteudoTamanho h2 {
    font-weight: 800;
    font-size: 18px;
    margin: 0 0;
    width: 356px;
}

.topConteudoTamanho p {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}